/* reset */
* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open sans-serif;
}

/*Inicio*/
.header {
    vertical-align: middle;
    margin-top: 50px;
    line-height: 300px;
    text-align: center;
    color: white;
    text-shadow: 2px;
    /*background-color: rgba(0, 49, 91, 0.571);*/
}

.Landing {
    background-size: cover;
    background-position: center top;
    background-image: url(/Inicio/mundo.jpg);
}

.header {
    display: inline-block;
    margin-top: 20px;
    padding: 100px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    height: 500px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    text-align: center;
}

/*Titulo*/
.Clientes h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    font-weight: bold;
    padding-top: 40px;
}

/*Clientes*/
.Clientes {
    background-color: #eaf4f6ff;
    text-align: center;
    justify-content: center;
    margin-block: 20px;
    align-content: center;
    margin-top: 40px;
    height: max-content;
}

/*Contacto*/
.form {
    display: flexbox;
    align-content: center;
    font-size: 18px;
    padding: 40px;
    margin-top: 40px;
}

button.btn.btn-primary {
    --bs-btn-bg: rgb(0, 49, 91);
    --bs-btn-border-color: rgb(0, 49, 91);
    --bs-btn-hover-color: #eaf4f6ff;
    --bs-btn-hover-transition: background-color 0.5s ease;
}

.Contacto p {
    background-color: #eaf4f6ff;
    display: flexbox;
    margin-block: 20px;
    align-content: center;
    font-size: 18px;
    padding: 40px;
    margin: 40px;
    line-height: 2;
    margin-top: 40px;
}

/*Quienes somos*/
.Quienes {    
    background-color: #00305bff;
    color: #eaf4f6ff;
    text-align: center;
    margin-top: 60px;
    height: max-content;
}

.Quienes p {
    margin-block: 20px;
    align-content: center;
    font-size: 18px;
    margin: 20px;
    line-height: 2;
}

.Quienes h1 {
    margin-top: 40px;
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
}

/*Servicios*/
.servicios-detalles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 250px);
    gap: 5px;
    margin-top: 140px;
    align-content: center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.Servicios {
    width: 100%;
    background-color: #dfedfbff;
    color: #00305bff;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 60px;
    margin-left: 10px;
    margin-right: 20px;
}

.servicio {
    border: 1px solid dfedfbff;
    align-items: center;
    padding: 10px;
}

.servicios-detalles h2 {
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    padding: 3px;
    height: 30px;
    color: #00305bff;
    font-size: 20px;
    font-weight: bold;
}

.servicios-detalles p {
    font-size: 14px;
}

.soporte {
    grid-area: soporte;
}

.capacitacion {
    grid-area: capacitacion;
}

.versionado {
    grid-area: versionado;
}

.outsourcing {
    grid-area: outsourcing;
}

.planificacion {
    grid-area: planificacion;
}

.urgencias {
    grid-area: urgencias;
}

@media only screen and (min-width: 480px) {
    .servicios-detalles {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "soporte capacitacion"
            "versionado outsourcing"
            "planificacion urgencias";
    }
}

@media only screen and (min-width: 480px) {
    .banner .Quienes .servicios-detalles .clientes .Contacto .header {
        width: 100%;
    }
}

/*Footer*/
.footer {
    background-color: #dfedfbff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}